:root{
    --black :#131313;
    --semiblack: #090909;
    --act: #9bfcc8;
}

header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--semiblack);
    z-index: 1;
}



/* NAVIGATION BAR */

header > h2{
    font: bold 24px Helvetica;
    margin-left: 3em;
    color: rgb(156, 155, 155);
    color: var(--act);

}
header > ul {
    display: inline-flex;
    gap: 1em;
    list-style-type: none;
    margin-right: 3em;
}

header > ul > li{
    padding: 1em 2em;
    font: bold 17px Helvetica;

}

header > ul > li > a {
    text-decoration: none;
    color: rgb(156, 155, 155); 
}



header > ul > li > a:hover{
    transition: 0.5s ease;
    color: var(--act);

}

header > ul > li > a:not(:hover){
    transition: 0.5s ease;

}



/*Media Query */

/*Tablet */
@media only screen and (max-width : 880px){

    header > h2 {
        display: none;
    }

    header > ul {
        justify-content: center;
        align-items: center;

        width: 100vw;
    }

}

/*phone */

@media only screen and (max-width : 425px){

    header {
        display: none;
    }
}