.side-nav{
    /* display: inline-flex; */
    display: none;    
   
    flex-direction: column;
    color: white;
    border: 1px solid red;
    position: fixed;
    background-color: hsl(0, 0%, 4%);
    z-index: 1;
    height: 100vh;
    width: 0%;
    transition: 1s ease-in;
    animation: showSideNav 1s forwards;


}

@keyframes showSideNav {
    0%{

    }100%{
        width:100%;
    }
    
}


.burger-container{
    display: none;
    flex-direction: column;
    gap: 7px;
    margin: 0vh 5vh 8vh;
    position: fixed;
    top: 9%;
    z-index: 2;
}

.burger-container > span{
    display: inline;
    width: 45px;
    height: 4px;
    background-color: antiquewhite;
}

@keyframes cross {

    0%{

    }100%{
        transform: rotate(45deg) translate(10px,6px);
    }
    
}

@keyframes cross2 {

    0%{

    }
    90%{


    }
    
    100%{
      
        transform: rotate(135deg);
        
    }
}

    @keyframes cross3 {

        0%{
    
        }

        
        100%{
          
            width: 0px;
            
        }
    
}
.side-nav > h1{

    font: bold 24px Coco Gothic;  
    color: #9bfcc8;
    margin-top: 20%;
    padding:  12% 0 0 12% ;

}

.side-nav > ul {
    display:inline-flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: 5vh;
}

.side-nav > ul > li{
  
    display: inline-flex;
    align-items: center;
    gap: 15px;
    width: 80%;
    padding: 1.1em;
    max-width: 100%;

}
.side-nav > ul > li > a{
    text-align: center;
    font: bold 18px Helvetica;
    text-decoration: none;
    color: white;
    

}

.side-nav > ul > li > img{
    width: 6%;
    height: auto;
    margin-left: 8%;
}


@media only screen and (max-width : 425px){

    .burger-container{
        display: inline-flex;
    }
}

